{% extends "base.html" %}

{% block content %}
    <div>
        <h1 style= "text-align: center;">PUEDES</h1>
        <p style= "text-align: center;">Biblioteca Digital Universidad Nacional de Córdoba en colaboración con Barrio Bella Vista</p>
    </div>
    <br>
    <br>
    <div style= "text-align: center;">
    <h2>GÉNEROS</h2>
        <ul>
            <li>Aventura</li>
            <li>Ciencia Ficción</li>
            <li>Policial</li>
            <li>Paranormal</li>
            <li>Nobela</li>
            <li>Drama</li>
            <li>Psicologia</li>
            <li>Cuentos</li>
        </ul>
    </div>
    <br>
    <br>
    <h1 style= "text-align: center;">"La lectura: un viaje sin moverse"</h1>

{% endblock content %}